@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');




*{  
    margin: 0;
    padding: 0;
    background-color: rgba(18, 17, 57, 1);
    font-family: 'Poppins','Fira Sans', sans-serif;
}


.flex-container{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
    min-width: 40%;
}

div img{
    display: flex;
    width: 100%;
}

.apresentacao{
    font-family: 'Poppins','Fira Sans';
    font-size: 16px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}


.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 74px;
    margin-bottom: 30px;
}


.texto-apresentacao a{

    color: white;
    text-align: center;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid rgba(204, 204, 204, 0.13);
    font-family: 'Poppins','Fira Sans',;
    
    background-image: linear-gradient(to bottom, rgba(119, 0, 255, 0.479), rgba(76, 0, 255, 0.342));
}

.texto-apresentacao img{
    display: block;
    width: 100%;
}


/*mobile*/
@media(max-width: 992px){

    header .menu{
        width: 50px;
    }

    .flex-container{
        flex-direction: column;
    }


    .apresentacao{

        margin-top: 15%;
        flex-direction: column;
    }

    .apresentacao img{
        margin-top: 10%;
    }

    .apresentacao .texto-apresentacao{
        min-height: 300px;
        width: 80%;
    }


/*form{
    margin: 0 auto;
    width: 400px;
    padding: 1 em;
    border: 1px solid #ccc;
    border-radius: 1em;
    color: aliceblue;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}*/
