@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');




*{  
    margin: 0;
    padding: 0;
    background-color: rgba(18, 17, 57, 1);
    font-family: 'Poppins','Fira Sans', sans-serif;
}


.flex-container{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    width: 100%;
    min-width: 40%;
}

div img{
    display: flex;
    width: 100%;
}

.apresentacao{
    font-family: 'Poppins','Fira Sans';
    font-size: 16px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}


.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 74px;
    margin-bottom: 30px;
}


.texto-apresentacao a{

    color: white;
    text-align: center;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid rgba(204, 204, 204, 0.13);
    font-family: 'Poppins','Fira Sans',;
    
    background-image: linear-gradient(to bottom, rgba(119, 0, 255, 0.479), rgba(76, 0, 255, 0.342));
}

.texto-apresentacao img{
    display: block;
    width: 100%;
}

.formulario input{
    color: black;
}

.formulario { 

    font-family: 'Poppins','Fira Sans', sans-serif;
    max-width: 480px;
    min-width: 240px;
    overflow: hidden ; 
    border-radius: 3p x; 
    padding: 1em; 
  
}


.formulario .title { 

  width: 100%; 
  float:left; 
  margin-bottom:1em; 
  font-size:1.5em; 
  font-weight: 300; 
  text-align: center; 
  padding-bottom: 1em;
  color: #ffffff; 

}


.formulario .label { 
   
  width:100%;
  float:left; 
  margin-bottom:10px;

}


.formulario .label span { 

  width: 100%; 
  float: left;
  color: #ffffff;
  margin-bottom: 15px; 

}

.formulario .campo {

  font-family: 'Poppins','Fira Sans', sans-serif;
  font-size: 16px;
  border-radius: 3px;
  line-height: 20px;
  background-color: #ffffff;
  margin-bottom: 15px;
  transition: all 0.3s;
  padding: 11px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: none;

}

.formulario .campo:focus { 

    color: #9900ff;
}

.formulario .botao {

  font-family: 'Poppins','Fira Sans', sans-serif;
  width: 100%;
  background:#6200ff;
  color: #ffffff;
  border-radius: 20px;
  border:0;
  cursor:pointer;
  font-size:22px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top: 30px;
  font-weight:700;

}

.formulario .botao:hover { background:#ffffff; }

/*ANTI-SPAN*/
.naoexibir { display:none; }


/*mobile*/
@media(max-width: 992px){


    header .menu{
        width: 40px;
    }   
    .flex-container{
        flex-direction: column;
    }   
    .apresentacao{  
        margin-top: 15%;
        flex-direction: column;
    }   
    .texto-apresentacao h1{
        font-size: 40px;
    }   
    .apresentacao img{
        margin-top: 10%;
    }   
    .apresentacao .texto-apresentacao{
        min-height: 300px;
        width: 80%;
    }

}